.card-container {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    flex-basis: 30%;
    cursor: pointer;
}

.card-item{
    align-items: center;
    display: flex;
    justify-content: center;
}

.modal-container .card-container{
    background: #ACCAF2;
}